In [2]:
import os
from os import path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string
import nltk
import re
import sys
import datetime

# Import data

In [1]:
start = datetime.datetime.now()
list_of_files = os.listdir("/Users/yuanp/Documents/SR_AR_2010-2018txt")
nlist = len(list_of_files)
count_data = list(np.arange(0,nlist,1))
train = pd.DataFrame(np.zeros((nlist, 2)), index=count_data, columns=['Name','Text'])

for file, i in zip(list_of_files, count_data):
    f = open("/Users/yuanp/Documents/SR_AR_2010-2018txt" + "/" + file, "r")
    train.loc[i, "Name"] = (file[:-4])
    train.loc[i, "Text"] = f.read()

train.head()

NameError: name 'datetime' is not defined

In [3]:
# train['Ticker'], train['Kode'], train['Year'] = train['Name'].str.split('_', 2).str

In [4]:
# train.head()

In [5]:
#train['Text']=train['Text'].str.replace('\n',' ')
#train['Name']=train['Name'].str.replace('_SR','SR')
#train['Name']=train['Name'].str.replace('_',' ')

In [6]:
#train.tail()

In [501]:
# train.to_csv("E:/tm/project2/data_mentah.csv",index = True)

In [10]:
len(train)

9

In [11]:
train

   Name                                               Text
0  2010  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...
1  2011  2011 Laporan Keberlanjutan Sustainability Repo...
2  2012  Sustainability Report 2012\n\nSustainability R...
3  2013  Plant ng A Sustainable Future 2013 Laporan Keb...
4  2014  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...
5  2015  What Makes Us\nSustainable?\n2015\nLaporan Keb...
6  2016  Daftar Isi\nContents\n\nLAPORAN MANAJEMEN MA...
7  2017  MOVING SUSTAINABLY\nLAPORAN KEBERLANJUTAN\n201...
8  2018  Stringing Hope\nEmbracing Others\nMembentang A...

## 1.1 Calculate number of words

In [12]:
train['Jumlah Kata'] = train['Text'].apply(lambda x: len(str(x).split(" ")))
train.head()

   Name                                               Text  Jumlah Kata
0  2010  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...       653315
1  2011  2011 Laporan Keberlanjutan Sustainability Repo...       724720
2  2012  Sustainability Report 2012\n\nSustainability R...       879138
3  2013  Plant ng A Sustainable Future 2013 Laporan Keb...      1249593
4  2014  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...      1634727

## 1.2 Calculate number of characters

In [13]:
train['Jumlah Karakter'] = train['Text'].str.len() ## this also includes spaces
train[['Text','Jumlah Karakter']].head()

                                                Text  Jumlah Karakter
0  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...          4986677
1  2011 Laporan Keberlanjutan Sustainability Repo...          5558826
2  Sustainability Report 2012\n\nSustainability R...          6820280
3  Plant ng A Sustainable Future 2013 Laporan Keb...          9613991
4  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...         12936753

## 1.3 Calculate the average of word length

In [14]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

train['Rata2 panjang kata'] = train['Text'].apply(lambda x: avg_word(x))
train[['Text','Rata2 panjang kata']].head()

                                                Text  Rata2 panjang kata
0  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...                   6
1  2011 Laporan Keberlanjutan Sustainability Repo...                   6
2  Sustainability Report 2012\n\nSustainability R...                   6
3  Plant ng A Sustainable Future 2013 Laporan Keb...                   6
4  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...                   6

## 1.4 Calculate number of unimportant words

In [15]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['Kata2 tidak penting'] = train['Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['Text','Kata2 tidak penting']].head()

C:\Anaconda2\envs\gl-env\lib\site-packages\ipykernel_launcher.py:4: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  after removing the cwd from sys.path.

                                                Text  Kata2 tidak penting
0  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...               109229
1  2011 Laporan Keberlanjutan Sustainability Repo...               125771
2  Sustainability Report 2012\n\nSustainability R...               178819
3  Plant ng A Sustainable Future 2013 Laporan Keb...               235491
4  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...               266559

## 1.5 Calculate number of special characters

In [16]:
train['hastags'] = train['Text'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['Text','hastags']].head()

                                                Text  hastags
0  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...        6
1  2011 Laporan Keberlanjutan Sustainability Repo...       40
2  Sustainability Report 2012\n\nSustainability R...        9
3  Plant ng A Sustainable Future 2013 Laporan Keb...       56
4  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...      104

## 1.6 Calculate number of numerics

In [17]:
train['Numerik'] = train['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['Text','Numerik']].head()

                                                Text  Numerik
0  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...    19984
1  2011 Laporan Keberlanjutan Sustainability Repo...    23193
2  Sustainability Report 2012\n\nSustainability R...    28933
3  Plant ng A Sustainable Future 2013 Laporan Keb...    38425
4  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...    48544

## 1.7 Calculate number of uppercase words

In [18]:
train['upper'] = train['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['Text','upper']].head()

                                                Text   upper
0  SHARING NATURE FOR PROSPERITY AND SUSTAINABILI...   35006
1  2011 Laporan Keberlanjutan Sustainability Repo...   44301
2  Sustainability Report 2012\n\nSustainability R...   48927
3  Plant ng A Sustainable Future 2013 Laporan Keb...   71862
4  Jl. Puloayang Raya Blok OR 1 Kawasan Industri ...  116163

## 2. Basic Pre-processing

### 2.1 Lower case
### 2.2 Removing Punctuation

In [19]:
# Lower case
train['Text'] = train['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

# Remove punctuation
train['Text'] = train['Text'].str.replace('[^\w\s]','')

# Remove numerics
train['Text'] = train['Text'].apply(lambda x: ' '.join([x for x in x.split() if not x.isdigit()]))

# Remove indonesian stopwords
from nltk.corpus import stopwords
stop = stopwords.words('indonesian')
train['Text'] = train['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

# Remove english stopwords
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
stop.update(('pt','tbk','laporan','report','company','ii','i','perusahaan','p','perseroan','jl','indonesia','persero'))
train['Text'] = train['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

train['Text'].head()

0    sharing nature prosperity sustainability susta...
1    keberlanjutan sustainability astra agro lestar...
2    sustainability sustainability sustaining futur...
3    plant ng sustainable future keberlanjutan sust...
4    puloayang raya blok kawasan industri pulogadun...
Name: Text, dtype: object

# 3. Calculate number of positive and negative words

In [20]:
pw = pd.read_fwf("E:/tm/project2/sentiment dictionary/positive-words.txt")
nw = pd.read_fwf("E:/tm/project2/sentiment dictionary/negative-words.txt")
train['Positif'] = train['Text'].apply(lambda x: len([x for x in x.split() if x in pw["words"].tolist()]))
train['Negatif'] = train['Text'].apply(lambda x: len([x for x in x.split() if x in nw["words"].tolist()]))
train[['Text','Positif','Negatif']].head(10)

                                                Text  Positif  Negatif
0  sharing nature prosperity sustainability susta...    13839     4958
1  keberlanjutan sustainability astra agro lestar...    16787     5634
2  sustainability sustainability sustaining futur...    23160     7754
3  plant ng sustainable future keberlanjutan sust...    33874     9944
4  puloayang raya blok kawasan industri pulogadun...    42631    12264
5  makes us sustainable keberlanjutan sustainabil...    52392    15017
6  daftar isi contents manajemen management sambu...    62959    19133
7  moving sustainably keberlanjutan sustainabilit...    47933    14585
8  stringing hope embracing others membentang asa...    29018     8967

# 4. Retrieve popular words each company/sic in sort

In [21]:
freq = []
i = 0
nfreq = 0
nama_perusahaan = []
i = 0
for c in train["Name"]:
    nama_perusahaan.append(c)
    freq.append(pd.Series(''.join(train.iloc[i,1]).split()).value_counts())
    nfreq = len(freq[i].keys()) if nfreq < len(freq[i].keys()) else nfreq
    i+=1

freq_data = list(np.arange(0,nfreq,1))
freqtable = pd.DataFrame(np.zeros((nfreq, len(freq))), index=freq_data, columns=nama_perusahaan)

for i in zip(freq_data):
    j = 0
    for perusahaan in nama_perusahaan:
        nWord = len(freq[j].keys())
        
        freqtable.loc[i, perusahaan] = freq[j].keys()[i] if i[0] < nWord else '-'
        j+=1
freqtable.head(5)

,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,program,program,program,bank,program,sustainability,bank,program,program
1,lingkungan,sustainability,sustainability,program,sustainability,program,program,sustainability,sustainability
2,sustainability,lingkungan,employees,sustainability,bank,bank,sustainability,keberlanjutan,keberlanjutan
3,bank,astra,management,management,keberlanjutan,keberlanjutan,management,management,management
4,business,management,total,employees,management,management,keberlanjutan,lingkungan,lingkungan

In [22]:
freqtable.to_excel("E:/tm/project2/rank_word_ec.xlsx",index=False)

# 5. Retrieve popular words of documents

In [23]:
most_words = pd.Series(' '.join(train['Text']).split()).value_counts()
most_words = pd.DataFrame(most_words.keys(),columns=["Kata populer"])
most_words.to_csv("E:/tm/project2/most_wordall.csv",index = True)

# 6. Sentiment analysis

In [24]:
import textblob
from textblob import TextBlob

In [25]:
train['sentiment'] = train['Text'].apply(lambda x: TextBlob(x).sentiment[0] )

In [600]:
# trainnew['Ticker'], trainnew['Kode'], trainnew['Year'] = trainnew['Name'].str.split('_', 2).str

In [601]:
# pw = pd.read_fwf("E:/tm/project2/sentiment dictionary/positive-words.txt")
# nw = pd.read_fwf("E:/tm/project2/sentiment dictionary/negative-words.txt")
# trainnew['Positif'] = trainnew['Text'].apply(lambda x: len([x for x in x.split() if x in pw["words"].tolist()]))
# trainnew['Negatif'] = trainnew['Text'].apply(lambda x: len([x for x in x.split() if x in nw["words"].tolist()]))

In [26]:
train.head()

,Name,Text,Jumlah Kata,Jumlah Karakter,Rata2 panjang kata,Kata2 tidak penting,hastags,Numerik,upper,Positif,Negatif,sentiment
0,2010,sharing nature prosperity sustainability susta...,653315,4986677,6,109229,6,19984,35006,13839,4958,0.092178
1,2011,keberlanjutan sustainability astra agro lestar...,724720,5558826,6,125771,40,23193,44301,16787,5634,0.087418
2,2012,sustainability sustainability sustaining futur...,879138,6820280,6,178819,9,28933,48927,23160,7754,0.089750
3,2013,plant ng sustainable future keberlanjutan sust...,1249593,9613991,6,235491,56,38425,71862,33874,9944,0.103500
4,2014,puloayang raya blok kawasan industri pulogadun...,1634727,12936753,6,266559,104,48544,116163,42631,12264,0.102841

In [616]:
# new = train[['Ticker','Kode','Year','Positif','Negatif','sentiment']]

In [617]:
# new.to_excel("E:/tm/project2/hasil.xlsx",index=False)

In [27]:
train['sentiment'] = train['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['Text','sentiment']].head(10)

                                                Text  sentiment
0  sharing nature prosperity sustainability susta...   0.092178
1  keberlanjutan sustainability astra agro lestar...   0.087418
2  sustainability sustainability sustaining futur...   0.089750
3  plant ng sustainable future keberlanjutan sust...   0.103500
4  puloayang raya blok kawasan industri pulogadun...   0.102841
5  makes us sustainable keberlanjutan sustainabil...   0.103144
6  daftar isi contents manajemen management sambu...   0.096540
7  moving sustainably keberlanjutan sustainabilit...   0.100301
8  stringing hope embracing others membentang asa...   0.094463

In [28]:
train.to_excel("E:/tm/project2/summarize.xlsx",index=False)

# 7. Calculate number words each category

In [29]:
neg_word = nw # Negative
ne_word = neg_word.values.tolist()
rank_neg = train.copy()

i = 0
for month in neg_word['words']:
    colname = month
    rank_neg[colname] = rank_neg['Text'].apply(lambda x: len([x for x in x.split() if x in ne_word[i]]))
    i+=1

In [30]:
rank_neg = rank_neg.drop(rank_neg.iloc[:,1:12] ,  axis='columns')
rank_neg.set_index(['Name'], inplace = True)
rank_neg = rank_neg.transpose()
rank_neg.to_csv("E:/tm/project2/rank_neg.csv",index=True)

In [31]:
pos_word = pw # positive
po_word = pos_word.values.tolist()
rank_pos = train.copy()

i = 0
for month in pos_word['words']:
    colname = month
    rank_pos[colname] = rank_pos['Text'].apply(lambda x: len([x for x in x.split() if x in po_word[i]]))
    i+=1

In [32]:
rank_pos = rank_pos.drop(rank_pos.iloc[:,1:12] ,  axis='columns')
rank_pos.set_index(['Name'], inplace = True)
rank_pos = rank_pos.transpose()
rank_pos.to_csv("E:/tm/project2/rank_pos.csv",index = True)

# 8. System Recomendation

In [33]:
import os
from os import path
import numpy as np
import graphlab
import pandas as pd
import matplotlib.pyplot as plt
from graphlab import SFrame
import string
import nltk
import re
import sys

In [37]:
data = graphlab.SFrame(train[['Name','Text']])
data['Word_count'] = graphlab.text_analytics.count_words(data['Text'])
tfidf = graphlab.text_analytics.tf_idf(data['Word_count'])

# Earlier versions of GraphLab Create returned an SFrame rather than a single SArray
# This notebook was created using Graphlab Create version 1.7.1
if graphlab.version <= '1.6.1':
    tfidf = tfidf['docs']

data['tfidf'] = tfidf
knn_model = graphlab.nearest_neighbors.create(data,features=['tfidf'],label='Name')

train["Name"] = train["Name"].astype(int)
a = train["Name"][0]
c = len(train["Name"])
for i in range (0,c):
    a = train["Name"][i]
    a = a.astype('S')
    print "HASIL RUN DATA",a
    industri = data[data['Name'] == a]
    knn_model.query(industri, k=c).print_rows(num_rows=c, num_columns=3)

This non-commercial license of GraphLab Create for academic use is assigned to mochammadasadurrofiq@gmail.com and will expire on September 30, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\hp\AppData\Local\Temp\graphlab_server_1565980441.log.0

Starting brute force nearest neighbors model training.

HASIL RUN DATA 2010

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 20.999ms     |

| Done         |         | 100         | 84.002ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2010      |      0.0       | ... |
|      0      |       2011      | 0.586407720261 | ... |
|      0      |       2013      | 0.619945373393 | ... |
|      0      |       2012      | 0.627436708141 | ... |
|      0      |       2018      | 0.651252234112 | ... |
|      0      |       2017      | 0.681215429137 | ... |
|      0      |       2014      | 0.688007292744 | ... |
|      0      |       2016      | 0.68985131397  | ... |
|      0      |       2015      | 0.69870556249  | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2011

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 16.982ms     |

| Done         |         | 100         | 80.988ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2011      |      0.0       | ... |
|      0      |       2010      | 0.586407720261 | ... |
|      0      |       2012      | 0.625112382509 | ... |
|      0      |       2013      | 0.647065734594 | ... |
|      0      |       2018      | 0.683940999684 | ... |
|      0      |       2014      | 0.697670345069 | ... |
|      0      |       2017      | 0.703496296783 | ... |
|      0      |       2016      | 0.707053656554 | ... |
|      0      |       2015      | 0.711446259833 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2012

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 16.981ms     |

| Done         |         | 100         | 72.987ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2012      |      0.0       | ... |
|      0      |       2013      | 0.590027921819 | ... |
|      0      |       2011      | 0.625112382509 | ... |
|      0      |       2010      | 0.627436708141 | ... |
|      0      |       2018      |  0.6754755844  | ... |
|      0      |       2014      | 0.685664748995 | ... |
|      0      |       2017      | 0.691121510513 | ... |
|      0      |       2016      | 0.694203998204 | ... |
|      0      |       2015      | 0.696945906838 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2013

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 15.982ms     |

| Done         |         | 100         | 81.988ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2013      |      0.0       | ... |
|      0      |       2012      | 0.590027921819 | ... |
|      0      |       2014      | 0.603651740641 | ... |
|      0      |       2010      | 0.619945373393 | ... |
|      0      |       2016      | 0.636402495013 | ... |
|      0      |       2018      | 0.637178138756 | ... |
|      0      |       2015      | 0.641477710209 | ... |
|      0      |       2017      | 0.644463098295 | ... |
|      0      |       2011      | 0.647065734594 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2014

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 11.986ms     |

| Done         |         | 100         | 86.99ms      |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2014      |      0.0       | ... |
|      0      |       2013      | 0.603651740641 | ... |
|      0      |       2015      | 0.62421946549  | ... |
|      0      |       2016      | 0.646288508691 | ... |
|      0      |       2017      | 0.662261442324 | ... |
|      0      |       2018      | 0.677577270109 | ... |
|      0      |       2012      | 0.685664748995 | ... |
|      0      |       2010      | 0.688007292744 | ... |
|      0      |       2011      | 0.697670345069 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2015

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 11.982ms     |

| Done         |         | 100         | 81.991ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2015      |      0.0       | ... |
|      0      |       2016      | 0.578101692026 | ... |
|      0      |       2014      | 0.62421946549  | ... |
|      0      |       2017      | 0.63535246192  | ... |
|      0      |       2013      | 0.641477710209 | ... |
|      0      |       2018      | 0.667994603603 | ... |
|      0      |       2012      | 0.696945906838 | ... |
|      0      |       2010      | 0.69870556249  | ... |
|      0      |       2011      | 0.711446259833 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2016

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 20.999ms     |

| Done         |         | 100         | 82.006ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2016      |      0.0       | ... |
|      0      |       2015      | 0.578101692026 | ... |
|      0      |       2017      | 0.581737588652 | ... |
|      0      |       2013      | 0.636402495013 | ... |
|      0      |       2018      | 0.639328786966 | ... |
|      0      |       2014      | 0.646288508691 | ... |
|      0      |       2010      | 0.68985131397  | ... |
|      0      |       2012      | 0.694203998204 | ... |
|      0      |       2011      | 0.707053656554 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2017

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 29.005ms     |

| Done         |         | 100         | 65.005ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2017      |      0.0       | ... |
|      0      |       2016      | 0.581737588652 | ... |
|      0      |       2018      | 0.589066035068 | ... |
|      0      |       2015      | 0.63535246192  | ... |
|      0      |       2013      | 0.644463098295 | ... |
|      0      |       2014      | 0.662261442324 | ... |
|      0      |       2010      | 0.681215429137 | ... |
|      0      |       2012      | 0.691121510513 | ... |
|      0      |       2011      | 0.703496296783 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

HASIL RUN DATA 2018

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 11.1111     | 13.98ms      |

| Done         |         | 100         | 88.986ms     |

+--------------+---------+-------------+--------------+

+-------------+-----------------+----------------+-----+
| query_label | reference_label |    distance    | ... |
+-------------+-----------------+----------------+-----+
|      0      |       2018      |      0.0       | ... |
|      0      |       2017      | 0.589066035068 | ... |
|      0      |       2013      | 0.637178138756 | ... |
|      0      |       2016      | 0.639328786966 | ... |
|      0      |       2010      | 0.651252234112 | ... |
|      0      |       2015      | 0.667994603603 | ... |
|      0      |       2012      |  0.6754755844  | ... |
|      0      |       2014      | 0.677577270109 | ... |
|      0      |       2011      | 0.683940999684 | ... |
+-------------+-----------------+----------------+-----+
[9 rows x 4 columns]

In [38]:
finish = datetime.datetime.now()
print "Start Running: ",start
print "End Running: ",finish
print "Time Running: ",int((finish - start).total_seconds())/3600,"Jam"

Start Running:  2019-08-16 07:50:49.137000
End Running:  2019-08-17 01:35:30.755000
Time Running:  17 Jam

# 8. Create wordcloud

In [ ]:
d = path.dirname(__file__) if "__file__" in locals() else os.getcwd()
alice_mask = np.array(Image.open(path.join(d, "cloud.png")))
stopwords = set(STOPWORDS)
wc = WordCloud(background_color="white", mask=alice_mask, max_words=20000,contour_width=5,contour_color='steelblue',
    stopwords=stopwords)
i = 0
for e in train["Name"]:
    d1=train.iloc[i,1]
    i+=1
    wc.generate(d1)
    wc.to_file(path.join("D:\Career\Paper Text Mining\Wordcloud", e+'.png'))

In [ ]:
most_words = pd.Series(' '.join(train['Text']).split()).value_counts()
most_words